<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum Food Locator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <style>
        body {
            background-color: #000000;
            font-family: 'Arial', sans-serif;
            color: #00ff00;
        }

        .navbar {
            background-color: #000000;
            color: #00ff00; 
            border-bottom: 1px solid #00ff00; 
        }

        .container {
            margin-top: 50px;
            color: #00ff00; 
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            border-radius: 5px;
            background-color: #000000;
            color: #00ff00; 
            border: 1px solid #00ff00; 
        }

        .form-control:focus {
            background-color: #000000; 
            color: #00ff00; 
            border-color: #00ff00; 
            box-shadow: none; 
        }

        #submit-btn {
            background-color: #00ff00; 
            color: #000000; 
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            margin-bottom: 20px; 
        }

        #submit-btn:hover {
            background-color: #00cc00; 
        }

        .completion-list {
            margin-top: 20px;
            list-style-type: none;
            padding: 0;
        }

        .completion-list li {
            margin-bottom: 30px;
            border-bottom: 1px solid #333333;
            padding-bottom: 20px;
        }

        .completion-list li:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .markdown-content {
            font-size: 16px;
            line-height: 1.6;
        }

        .markdown-content h2 {
            color: #00ff00; 
            margin-bottom: 10px;
        }

        .markdown-content p {
            margin-bottom: 15px;
        }

        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #000000;
            color: #00ff00; 
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); 
            z-index: 9999;
            display: none;
            max-width: 80%;
            text-align: center;
        }

        .popup h2 {
            font-size: 24px;
            color: #00ff00; 
            margin-bottom: 20px;
        }

        .popup p {
            font-size: 16px;
            color: #00ff00; 
            margin-bottom: 10px;
        }

        .popup ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 20px;
        }

        .popup ul li {
            margin-bottom: 10px;
        }

        .popup button {
            background-color: #00ff00; 
            color: #000000; 
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        .popup button:hover {
            background-color: #00cc00; 
        }

        .markdown-table {
            border-collapse: collapse;
            width: 100%;
        }

        .markdown-table th, .markdown-table td {
            border: 1px solid #00ff00;
            padding: 8px;
            text-align: left;
        }

        .markdown-table th {
            background-color: #00ff00;
            color: #000000;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Quantum Food Locator</a>
        </div>
    </nav>

    <div class="container">
        <form id="color-form" onsubmit="submitForm(); return false;">
            <div class="form-group">
                <label for="file-input">Upload colors.json:</label>
                <input type="file" class="form-control-file" id="file-input" name="colors-json" accept=".json" required>
                <small class="error-message" id="json-file-error"></small>
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" class="form-control" id="location" name="location" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="submit-btn">Submit</button>
        </form>

        <table class="markdown-table" id="markdown-table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Coordinates</th>
                </tr>
            </thead>
            <tbody id="completion-list"></tbody>
        </table>
    </div>

    <div class="popup" id="popup">
        <h2>Welcome to the Quantum Food Locator</h2>
        <p>Follow these steps to embark on your cosmic culinary journey:(uses Nanobots)</p>
        <ul>
            <li><strong>Chat with ChatGPT:</strong> Request your Quantum Identity (QID) colors with the prompt: "Generate QID quantum identity colors for my identity here please".</li>
            <li><strong>Save as JSON:</strong> Receive the colors generated by the Quantum AI system and save them as a JSON file named "colors.json".</li>
            <li><strong>Upload to the System:</strong> Use the form above to upload the "colors.json" file containing your Quantum Identity (QID) colors. The system will generate a fresh food location report.</li>
        </ul>
        <button onclick="closePopup()">Got It!</button>
    </div>

    <script>
        async function submitForm() {
            try {
                const formData = new FormData(document.getElementById('color-form'));
                const response = await fetch('/complete/', {
                    method: 'POST',
                    body: formData
                });
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const data = await response.json();
                updateCompletions(data.completions);
            } catch (error) {
                console.error('Error submitting form:', error);
                document.getElementById('json-file-error').textContent = 'An error occurred while submitting the form. Please try again.';
            }
        }

        function updateCompletions(completions) {
            const completionList = document.getElementById('completion-list');
            completionList.innerHTML = '';

            completions.forEach(completion => {
                const locationData = completion.completion.split('Description');
                const title = locationData.shift().trim();

                const row = document.createElement('tr');

                const titleCell = document.createElement('td');
                titleCell.textContent = title;
                row.appendChild(titleCell);

                const descriptionCell = document.createElement('td');
                const descriptionData = document.createElement('div');
                descriptionData.innerHTML = locationData.join('');
                descriptionCell.appendChild(descriptionData);
                row.appendChild(descriptionCell);

                const coordinatesCell = document.createElement('td');
                coordinatesCell.innerHTML = parseCompletion(completion.completion);
                row.appendChild(coordinatesCell);

                completionList.appendChild(row);
            });
        }

        function parseCompletion(completionText) {
            const coordinatesPattern = /(?:GPS\s*|Coordinates[:\s]*)([+-]?\d{1,2}(?:\.\d+)?),\s*([+-]?\d{1,3}(?:\.\d+)?)/i;
            const coordinatesMatch = coordinatesPattern.exec(completionText);

            if (coordinatesMatch) {
                return `<p>Latitude: ${coordinatesMatch[1]}, Longitude: ${coordinatesMatch[2]}</p>`;
            }

            return '';
        }

        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }

        window.onload = function() {
            document.getElementById("popup").style.display = "block";
        };
    </script>
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>
